
html {
    background-color: rgb(165,134,134);
    display: block;
}

header {
    background-color: white;
    display: block;
    margin-left: -10px;
    margin-bottom: -30px;
    margin-top: -60px;
}

h1 {
    font-size: 80px;
    color: black;
    text-align: center;
}

.article_date{
    text-align: center;
    font-size: 35px;
    color: black;
}

.todo_list{
    display: inline-block;
    height: 700px;
    width: 200px;
    background-color: teal;
    font-size: 20px;
    float: left;
    
}

article {
    font-size: 30px;
    background-color: white;
}